@use '../base/variables'as *;

@media (min-width: 768px) {
    body {
        font-size: 1rem;
    }

    .heading {
        font-size: rem(40px);
    }
}

@media (min-width: 1440px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (orientation: landscape) {
    body {
        padding-top: rem(80px);
    }
}